.sfdcp-spoiler {
  background-color: #383734;
  border-radius: .3rem;
  cursor: pointer;
  color: transparent !important;
  transition: background 3s, color 1s;
}

.sfdcp-spoiler.sfdcp-revealed {
  background: transparent;
  color: var(--color-text-boldest) !important;
  transition: background 2s, color 3s;
}
